


    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">NetView 1.0</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
    </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav text-nowrap px-3 ">{{currentUser}}@{{currentHostname}}</div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" (click)="showSection('')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                   <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="showSection('nes')">
                    <img src="assets/images/ne1.svg" width="20%"/>
                  Nes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="showSection('links')">
                    <img src="assets/images/LinkIcon.png" width="20%"/>
                  Links
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  (click)="showSection('tunnels')">
                    <img src="assets/images/TunnelIcon.png" width="20%"/>
                  Tunnels
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="services">
                    <img src="assets/images/serviceIcon.png" width="20%"/>
                  Services
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-11 ml-sm-auto col-lg-11 px-1">
      
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <div class="section" *ngIf="isShowSection('nes')"><app-nes></app-nes></div>
                <div class="section" *ngIf="isShowSection('links')"><app-links></app-links></div>
                <div class="section" *ngIf="isShowSection('tunnels')"><app-tunnels></app-tunnels></div>
              </div>
              <div id="container-diag" class="col-8">
                <div id="diagramNetworkDiv"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="pull-right">
                  <button id="saveButton" class="btn" (click)="save()">Save</button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <router-outlet></router-outlet>

  

